// Главный экран
.main-slider {
	background: url(img/bg.main.slider.jpg) no-repeat 50% / cover;
	height: 900px;
	padding: 227px 0 0;
	position: relative;

	&:after {
		background: url(img/main.slider.ice.png) no-repeat 50%;
		content: "";
		width: 278px;
		height: 274px;
		position: absolute;
		z-index: 2;
		bottom: -30px;
		left: 0;
	}
	&__block {
		padding: 0 0 0 220px;
		position: relative;
		z-index: 5;
	}
	&__title {
		font-size: 64px;
		font-weight: 700;
		line-height: 1;
		padding: 0 0 45px;
		max-width: 610px;
	}
	&__text {
		padding: 0 0 70px;
		max-width: 450px;
	}
	&__pict {
		position: absolute;
		right: -20px;
		top: 5px;
		z-index: 2;
	}
	&__down {
		position: absolute;
		left: 50%;
		bottom: 55px;
		transform: translate(-50%);
		text-align: center;
		font-size: 0;
		z-index: 5;
	}
	&__down-str {
		display: inline-block;
		height: 43px;
		width: 43px;
		margin: 0 0 22px;
		background-color: var(--azure);
		border-radius: 50%;
		position: relative;
		cursor: pointer;

		&:after {
			background: url(img/str.down.svg) no-repeat 50%;
			content: "";
			width: 13px;
			height: 6px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	&__down-txt {
		font-size: 13px;
		font-weight: 500;
		line-height: 1.31;
		color: var(--blue-num3);
		display: block;
		transition: color .3s linear;
	}
	&__down:hover {

		& .main-slider__down-str {
			background-image: linear-gradient(to top, var(--deep-sky-blue), var(--deep-sky-blue-two));
		}
		& .main-slider__down-txt {
			color: var(--azure);
		}
	}
}

@include media-breakpoint-only(lg)
{
    .main-slider {

        &__block {
            padding: 0;
        }
        &__pict {
            width: 610px;
            top: 26px;
        }
    }
}
@include media-breakpoint-down(md)
{
    .main-slider {
        padding: 160px 0 0;
        height: auto;

        &:after {
            display: none;
        }
        &__block {
            padding: 275px 0 35px;
            margin: auto;
        }
        &__title {
            font-size: 42px;
            max-width: 100%;
            padding: 0 0 25px;
        }
        &__text {
            padding: 0 0 30px;
            max-width: 100%;
        }
        &__pict {
            width: 363px;
            left: 50%;
            right: auto;
            transform: translate(-50%, 0);
        }
        &__down {
            display: none;
        }
    }
}

// Слайдер товаров
.catalog-slider {
    position: relative;
    z-index: 2;

	&__header {
		padding: 90px 0 70px;
	}
	&__title {
		padding: 0 230px 0 220px;
		position: relative;
	}
    &__inner {
        max-width: 100%;
        overflow: hidden;
    }
	&__items {
		overflow: visible;
	}
	&__btn {
		padding: 55px 0 0;
	}
}

@include media-breakpoint-only(lg)
{
    .catalog-slider {

        &__title {
            padding: 0 150px;
        }
    }
}
@include media-breakpoint-down(md)
{
    .catalog-slider {

        &__header {
            padding: 35px 0 30px;
        }
        &__title {
            padding: 0;
        }
        &__btn {
            padding: 30px 0 0;
        }
    }
}
@include media-breakpoint-down(sm)
{
    .catalog-slider {

        &__items {
            width: calc(100% - 65px);
            margin: 0;
        }
    }
}

// Список товаров на главной
.product-big {
	border: solid 1px var(--light-blue-num3);
    border-radius: 8px;
    background-color: var(--light-blue-num3);
    padding: 25px 35px;
	transition: all .3s linear;

	&__pict {
        display: block;
        text-align: center;
        margin: 0 0 25px;
        height: 302px;
        line-height: 302px;
        font-size: 0;
    }
	&__name {
		font-size: 20px;
		line-height: 1.5;
		color: var(--blue-num5);
		display: block;
		margin: 0 0 20px;
	}
	&__props {
		font-size: 16px;
		line-height: 1.5;
		color: var(--gray-num1);
		width: 100%;

		& tr {
			vertical-align: top;
		}
		& td {

			&:first-child {
				width: 100%;
				position: relative;
				overflow: hidden;

				&:after {
					content: "";
					width: 100%;
					height: calc(100% - 8px);
					position: absolute;
					border-bottom: 1px solid var(--gray-num2);
					margin: 0 0 0 5px;
				}
			}
			&:last-child {
				padding: 0 0 0 5px;
				white-space: nowrap;
			}
		}
	}
	&__price-block {
		margin: 20px 0 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__price {
		font-size: 24px;
		font-weight: 700;
	}

	&:hover {
		border-color: var(--blue-num2);
		border-radius: 8px;
		background-color: var(--white);
	}
}

@include media-breakpoint-only(md)
{
    .product-big {
        padding: 10px 20px 25px;

        &__name {
            height: 54px;
            overflow: hidden;
        }
    }
}
@include media-breakpoint-only(xs)
{
    .product-big {
        padding: 10px 20px 25px;

        &__pict {
            height: 190px;
            line-height: 190px;
        }
        &__pict img {
            max-height: 100%;
        }
        &__name {
            height: 72px;
            overflow: hidden;
            line-height: 1.2;
            margin: 0 0 15px;
        }
        &__price-block {
            margin: 15px 0 0;
            display: block;
        }
        &__price {
            margin: 0 0 15px;
        }
    }
}

// Блок Камеры для складов
.info-block {
    background: url(img/bg.info.jpg) no-repeat center top / cover;
    padding: 190px 0 140px;
    position: relative;

    &:before {
        background: url(img/info.ice.top.png) no-repeat 50%;
        content: "";
        width: 272px;
        height: 405px;
        position: absolute;
        z-index: 2;
        top: -120px;
        right: 0;
    }
    &:after {
        background: url(img/info.ice.bottom.png) no-repeat 50%;
        content: "";
        width: 148px;
        height: 157px;
        position: absolute;
        z-index: 2;
        bottom: -60px;
        left: 0;
    }
    &__inner {
        padding: 0 0 0 220px;
        position: relative;
        z-index: 2;
    }
    &__desc {
        padding: 50px 0 70px;
        max-width: 620px;
    }
    &__items {
        margin: 0 0 75px;
        display: flex;
    }
    &__item {
        width: 230px;
        margin: 0 100px 0 0;
    }
    &__pict {
        font-size: 0;
        height: 84px;
        line-height: 84px;
        margin: 0 0 30px;
    }
    &__name {
        font-size: 20px;
        font-weight: 700;
        margin: 0 0 20px;
    }
    &__text {
        font-size: 16px;
        line-height: 1.5;
        color: var(--gray-num1);
    }
}

@include media-breakpoint-down(lg)
{
    .info-block {
        padding: 45px 0 35px;

        &__inner {
            padding: 0;
        }
    }
}
@include media-breakpoint-down(md)
{
    .info-block {

        &:before,
        &:after {
            display: none;
        }
        &__desc {
            padding: 30px 0;
        }
        &__items {
            margin: 0 0 30px;
        }
        &__item {
            width: 230px;
            margin: 0;
        }
    }
}
@include media-breakpoint-down(sm)
{
    .info-block {

        &__items {
            flex-wrap: wrap;
            margin: 0;
        }
        &__item {
            width: calc(50% - 10px);
            margin: 0 0 30px;

            &:nth-child(2n) {
                margin: 0 0 30px 20px;
            }
        }
        &__pict {
            margin: 0 0 25px;
        }
        &__name {
            font-size: 16px;
            margin: 0 0 15px;
        }
    }
}

// Расчет
.calc-block {
    padding: 90px 0 0;
    position: relative;
    z-index: 2;

    &:after,
    &:before {
        content: "";
        position: absolute;
        z-index: 2;
    }
    &:before {
        background: url(img/calc.ice.top.png) no-repeat 50%;
        width: 245px;
        height: 247px;
        top: -85px;
        right: 0;
    }
    &:after {
        background: url(img/calc.ice.bottom.png) no-repeat 50%;
        width: 332px;
        height: 333px;
        bottom: -195px;
        left: 0;
    }
    &__text {
        max-width: 580px;
    }
    &__title {
        position: relative;
        margin: 0 0 100px;

        &:after {
            content: "";
            width: 80px;
            height: 2px;
            background-color: var(--azure);
            position: absolute;
            bottom: -45px;
            left: 0;
        }
    }
}

@include media-breakpoint-only(xl)
{
    .calc-block__one-ice {
        background: url(img/calc.one.ice.jpg) no-repeat 50%;
        position: absolute;
        width: 76px;
        height: 77px;
        z-index: 2;
        bottom: 78px;
        left: 430px;
    }
}
@include media-breakpoint-down(md)
{
    .calc-block {
        padding: 40px 0 0;

        &:after,
        &:before {
            display: none;
        }
        &__title {
            margin: 0 0 60px;

            &::after {
                bottom: -30px;
            }
        }
    }
}

.calc-box {
    background: url(img/bg.calc.jpg) no-repeat right bottom / cover, linear-gradient(133deg, var(--light-blue-num1), var(--light-blue-num2));
    padding: 55px 45px 65px 55px;
    border-radius: 12px;

    &__title {
        font-size: 20px;
        font-weight: 700;
        margin: 0 0 30px;
    }
    &__line {
        border-bottom: solid 1px var(--blue-num2);
        padding: 0 0 40px;
        margin: 0 0 40px;
    }
    &__price {
        font-size: 24px;
        font-weight: 700;
    }
}

@include media-breakpoint-only(lg)
{
    .calc-box {
        padding: 55px 35px 65px;
    }
}
@include media-breakpoint-down(md)
{
    .calc-box {
        margin: 40px 0 0;
        padding: 25px 20px;

        &__title {
            margin: 0 0 20px;
        }
        &__line {
            padding: 0;
            margin: 0 0 20px;
        }
    }
}
@include media-breakpoint-only(xs)
{
    .calc-box {

        &__price {
            margin: 0 0 20px;
            display: block;
        }
    }
}

.form-style-two {

    &__text {
        height: 56px;
        border-radius: 4px;
        border: solid 1px var(--blue-num2);
        background-color: var(--white);
        font-size: 20px;
        font-weight: 500;
        color: var(--blue-num5);
        padding: 0 20px;
        width: 100%;

        &-label {
            font-size: 16px;
            font-weight: 300;
            line-height: 1.5;
            color: var(--gray-num1);
            margin: 0 0 10px;
        }
    }
    &__radio {
        position: relative;

        &-label {
            font-size: 20px;
            font-weight: 500;
            color: var(--blue-num5);
            margin: 0;
            vertical-align: middle;
            padding: 0 0 0 45px;
            cursor: pointer;

            &:before {
                width: 24px;
                height: 24px;
                border: 1px solid var(--blue-num2);
                background-color: var(--white);
                display: inline-block;
                vertical-align: middle;
                border-radius: 50%;
                position: absolute;
                content: "";
                left: 0;
                top: 50%;
                transform: translate(0, -50%);
            }
        }
        &-input {
            position: absolute;
            left: 0;
            opacity: 0;
            top: 0;

            &:checked + .form-style-two__radio-label:before {
                background: var(--azure) url(img/icon.check.svg) no-repeat center;
                border-color: var(--azure);
            }
        }
    }
}

@include media-breakpoint-up(lg)
{
    .form-style-two {

        &__radio {

            &:not(:last-child) {
                margin: 0 60px 0 0;
            }
        }
    }
}
@include media-breakpoint-down(md)
{
    .form-style-two {

        &__text {
            margin: 0 0 20px;
        }
        &__radio {
            margin: 0 45px 20px 0;
        }
    }
}

// Что мы делаем
.we-do {
    background: url(img/bg.ice.one.png) no-repeat bottom left;
    height: 830px;
    padding: 115px 0 0;
    position: relative;

    &:before {
        background: url(img/we.do.frost.jpg) no-repeat 50%;
        width: 815px;
        height: 632px;
        top: -280px;
        right: 0;
        content: "";
        position: absolute;
        z-index: 1;
    }
    &__block {
        position: relative;
        z-index: 2;
    }
    &__title {
        position: relative;
        margin: 0 0 120px;

        &:after {
            content: "";
            width: 80px;
            height: 2px;
            background-color: var(--azure);
            position: absolute;
            bottom: -45px;
            left: 0;
        }
    }
    &__items {
        position: relative;
    }
    &__item {
        display: block;
        max-width: 300px;
        margin: 0 0 50px;
    }
    &__num {
        font-size: 20px;
        font-weight: 700;
        color: var(--azure);
        display: block;
        margin: 0 0 5px;
    }
    &__name {
        font-size: 42px;
        font-weight: 700;
        color: var(--blue-num5);
        border-bottom: 1px dashed var(--blue-num5);
        padding: 0 0 5px;
        line-height: 50px;
        display: inline-block;
        transition: color .3s linear;
    }

    &__item:hover .we-do__name {
        color: var(--azure);
        border-bottom-color: var(--azure);
    }
}

@include media-breakpoint-up(lg)
{
   .we-do {

        &__item {

            &:nth-child(2n) {
                position: absolute;
                left: 330px;
                margin: -70px 0 0;
            }
        }
    }
}
@include media-breakpoint-down(md)
{
    .we-do {
        padding: 50px 0 0;
        background: none;
        height: auto;

        &:before {
            display: none;
        }
        &__title {
            margin: 0 0 60px;

            &:after {
                bottom: -30px;
            }
        }
        &__items {
            overflow: hidden;
        }
        &__item {
            max-width: 50%;
            margin: 0 0 30px;
            float: left;
            width: 50%;
        }
        &__name {
            font-size: 30px;
            line-height: normal;
        }
        &__item:last-child {
            margin: 0 0 40px;

            .we-do__name {
                max-width: 215px;
            }
        }
    }
}

// Отзывы клиентов
.review-block {
    background: url(img/bg.ice.two.png) no-repeat 0 0, var(--blue-num2) url(img/bg.review.jpg) no-repeat center / cover;
    height: 789px;
    position: relative;
    z-index: 2;

	&__header {
		padding: 110px 0 55px;
	}
	&__title {
		padding: 0 230px 0 220px;
		position: relative;
	}
    &__inner {
        max-width: 100%;
        overflow: hidden;
    }
    &__center {
        padding: 0 0 0 220px;
        max-width: 1180px;
    }
	&__items {
        overflow: visible;
        padding: 30px 0;
    }
    &__item {
        border-radius: 8px;
        background-color: var(--white);
        display: block;
        padding: 15px;
        transition: box-shadow .3s linear;
        text-align: center;

        &:hover {
            box-shadow: 0 0 30px rgba(0, 0, 0, .15);
        }
    }
}

@include media-breakpoint-only(lg)
{
    .review-block {

        &__title {
            padding: 0 150px;
        }
        &__center {
            padding: 0 0 0 150px;
        }
    }
}
@include media-breakpoint-down(md)
{
    .review-block {
        background: var(--blue-num2) url(img/bg.review.jpg) no-repeat center / cover;
        height: auto;

        &__header {
            padding: 35px 0 0;
        }
        &__title {
            padding: 0;
        }
        &__center {
            padding: 0;
        }
    }
}
@include media-breakpoint-only(xs)
{
    .review-block__items {
        overflow: visible;
        padding: 30px 0;
        width: calc(100% - 65px);
        margin: 0;
    }
}

// Наши работы
.our-work {
    position: relative;
    z-index: 2;

	&__header {
		padding: 100px 0 70px;
        background: url(img/bg.our.work.jpg) no-repeat top left;
	}
	&__title {
		padding: 0 230px 0 220px;
		position: relative;
	}
    &__inner {
        max-width: 100%;
        overflow: hidden;
    }
    &__center {
        padding: 0 0 0 220px;
        max-width: 1063px;
    }
	&__items {
        overflow: visible;
        padding: 0 0 35px;
    }
    &__pict {
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 11px 36px -17px rgba(0, 30, 80, 0.26);
    }
	&__btn {
		padding: 20px 0 0;
	}
}

@include media-breakpoint-only(lg)
{
    .our-work {

        &__title {
            padding: 0 150px;
        }
        &__center {
            padding: 0 150px;
        }
    }
}
@include media-breakpoint-down(md)
{
    .our-work {

        &__header {
            padding: 30px 0 25px;
            background: none;
        }
        &__title {
            padding: 0;
        }
        &__center {
            padding: 0;
        }
        &__btn {
            padding: 0;
        }
    }
}
@include media-breakpoint-only(xs)
{
    .our-work {

        &__items {
            margin: 0 65px 0 -65px;
        }
    }
}

// Документы
.doc-block {
    padding: 0 0 50px;
    position: relative;

    &:before {
        background: url(img/doc.ice.top.png) no-repeat 50%;
        content: "";
        position: absolute;
        z-index: 2;
        width: 184px;
        height: 457px;
        top: -180px;
        left: 0;
    }
    &:after {
        background: url(img/doc.ice.bottom.png) no-repeat 50%;
        content: "";
        position: absolute;
        z-index: 2;
        width: 226px;
        height: 328px;
        bottom: 0;
        right: 0;
    }
    &__inner {
        padding: 0 0 0 220px;
        max-width: 1100px;
    }
    &__title {
        padding: 75px 0 60px;
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        width: 188px;
        margin: 0 30px 40px 0;
    }
    &__pict {
        border: solid 1px var(--blue-num2);
        border-radius: 8px;
        text-align: center;
        padding: 10px 5px;
        margin: 0 0 20px;
    }
    &__name {
        font-size: 13px;
        font-weight: 500;
        line-height: 1.31;
        color: var(--blue-num3);
    }
}

@include media-breakpoint-only(lg)
{
    .doc-block {

        &__inner {
            padding: 0 125px 0 150px;
        }
    }
}
@include media-breakpoint-down(md)
{
    .doc-block {

        &:before {
            display: none;
        }
        &:after {
            display: none;
        }
        &__inner {
            padding: 0;
        }
        &__title {
            padding: 35px 0 25px;
        }
    }
}
@include media-breakpoint-only(md)
{
    .doc-block {
        padding: 0;

        &__item {
            margin: 0 63px 25px 0;

            &:nth-child(3n) {
                margin: 0 0 25px;
            }
        }
    }
}
@include media-breakpoint-only(sm)
{
    .doc-block {

        &__item {
            margin: 0 15px 25px 0;
            width: 160px;

            &:nth-child(3n) {
                margin: 0 0 25px;
            }
        }
    }
}
@include media-breakpoint-only(xs)
{
    .doc-block {
        padding: 0 0 10px;

        &__item {
            margin: 0 20px 25px 0;
            width: calc(50% - 10px);

            &:nth-child(2n) {
                margin: 0 0 25px;
            }
        }
    }
}

// Контакты
.contact-block {
    padding: 0 0 85px;

    &__inner {
        padding: 0 0 0 220px;
        position: relative;
    }
    &__title {
        padding: 0 0 55px;
    }
    &__items {
        display: flex;
    }
    &__item {
        width: 320px;
        padding: 0 0 0 30px;
        position: relative;
    }
    &__link {
        font-size: 18px;
        font-weight: 700;
        display: block;
        margin: 0 0 10px;
    }
    &__addr {
        font-size: 18px;
        font-weight: 700;
        display: block;
        margin: 0 0 10px;
    }
    &__info {
        font-size: 13px;
        font-weight: 500;
        line-height: 1.31;
        color: var(--blue-num3);
    }
    &__icon-phone {
        background: url(img/icon.phone.svg) no-repeat 50%;
        width: 12px;
        height: 15px;
        position: absolute;
        top: 4px;
        left: 0;
    }
    &__icon-email {
        background: url(img/icon.email.svg) no-repeat 50%;
        width: 19px;
        height: 14px;
        position: absolute;
        top: 5px;
        left: 0;
    }
    &__icon-point {
        background: url(img/icon.point.svg) no-repeat 50%;
        width: 12px;
        height: 16px;
        position: absolute;
        top: 3px;
        left: 0;
    }
}

@include media-breakpoint-only(lg)
{
    .contact-block {

        &__inner {
            padding: 0 0 0 150px;
        }
        &__item {
            width: auto;
            margin: 0 auto 0 0;
        }
    }
}
@include media-breakpoint-down(md)
{
    .contact-block {
        padding: 0 0 15px;

        &__inner {
            padding: 0;
        }
        &__title {
            padding: 0 0 20px;
        }
        &__items {
            flex-wrap: wrap;
        }
        &__item {
            padding: 0 0 20px 30px;
        }
    }
}

// Карта
.map-block {

    &__inner {
        border-radius: 12px;
        overflow: hidden;
    }
    &__map {
        width: 100%;
        height: 600px;
    }
}

@include media-breakpoint-down(md)
{
    .map-block {

        &__map {
            height: 320px;
        }
    }
}

// Снег
canvas {
    height: 100%;
    width: 100%;
    -webkit-filter: blur(2px);
    filter: blur(2px);
    position: absolute;
    top: 0;
    z-index: 1;
}