<% var data = {
    pict_num: "1",
    pict_name: "Kамера 1360х1960 + Polair SM 111 MF + монтаж",
    pict_price: "61 990 р."
};%>
<%= _.template(require('./../includes/product-small.html'))(data)
%>

<% var data = {
    pict_num: "2",
    pict_name: "Kамера 1360х1960 + Polair SM 111 MF + монтаж",
    pict_price: "52 990 р."
}; %>
<%= _.template(require('./../includes/product-small.html'))(data)

%>
<% var data = {
    pict_num: "3",
    pict_name: "Kамера 1360х1960 + Polair SM 111 MF + монтаж",
    pict_price: "123 890 р."
}; %>
<%= _.template(require('./../includes/product-small.html'))(data)
%>

<% var data = {
    pict_num: "1",
    pict_name: "Kамера 1360х1960 + Polair SM 111 MF + монтаж",
    pict_price: "61 990 р."
};%>
<%= _.template(require('./../includes/product-small.html'))(data)
%>

<% var data = {
    pict_num: "2",
    pict_name: "Kамера 1360х1960 + Polair SM 111 MF + монтаж",
    pict_price: "52 990 р."
}; %>
<%= _.template(require('./../includes/product-small.html'))(data)

%>
<% var data = {
    pict_num: "3",
    pict_name: "Kамера 1360х1960 + Polair SM 111 MF + монтаж",
    pict_price: "123 890 р."
}; %>
<%= _.template(require('./../includes/product-small.html'))(data)
%>

<% var data = {
    pict_num: "1",
    pict_name: "Kамера 1360х1960 + Polair SM 111 MF + монтаж",
    pict_price: "61 990 р."
};%>
<%= _.template(require('./../includes/product-small.html'))(data)
%>

<% var data = {
    pict_num: "2",
    pict_name: "Kамера 1360х1960 + Polair SM 111 MF + монтаж",
    pict_price: "52 990 р."
}; %>
<%= _.template(require('./../includes/product-small.html'))(data)

%>
<% var data = {
    pict_num: "3",
    pict_name: "Kамера 1360х1960 + Polair SM 111 MF + монтаж",
    pict_price: "123 890 р."
}; %>
<%= _.template(require('./../includes/product-small.html'))(data)
%>

<% var data = {
    pict_num: "1",
    pict_name: "Kамера 1360х1960 + Polair SM 111 MF + монтаж",
    pict_price: "61 990 р."
};%>
<%= _.template(require('./../includes/product-small.html'))(data)
%>

<% var data = {
    pict_num: "2",
    pict_name: "Kамера 1360х1960 + Polair SM 111 MF + монтаж",
    pict_price: "52 990 р."
}; %>
<%= _.template(require('./../includes/product-small.html'))(data)

%>
<% var data = {
    pict_num: "3",
    pict_name: "Kамера 1360х1960 + Polair SM 111 MF + монтаж",
    pict_price: "123 890 р."
}; %>
<%= _.template(require('./../includes/product-small.html'))(data)
%>

<div class="col-12" id="ajax-set-plase">
    <div class="catalog-list__btn">
        <a class="btn btn-second btn-full-width" href="javascript:;" id="show-more">Показать еще</a>
    </div>
</div>