// Стили кнопок
.btn {

    &-full-width {
        width: 100% !important;
        max-width: 100% !important;
    }
}
.btn-first {
    width: 252px;
    height: 64px;
    border-radius: 8px;
    box-shadow: 0 9px 31px -10px rgba(20,104,255,.61);
    background-image: linear-gradient(104deg, var(--deep-sky-blue-two), var(--deep-sky-blue));
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    color: var(--white);
    display: inline-block;
    line-height: 64px;
    text-transform: uppercase;
	transition: all .3s linear;
    border: none;

	&:hover {
		background-image: linear-gradient(104deg, var(--deep-sky-blue), var(--deep-sky-blue-two));
		color: var(--white);
		box-shadow: none;
	}
}

@include media-breakpoint-down(md)
{
    .btn-first {
        width: 100%;
        max-width: 320px;
    }
}

.btn-second {
    width: 189px;
    height: 52px;
    border-radius: 26px;
    border: 1px solid var(--blue-num2);
    font-size: 12px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 1px;
    color: var(--main-text-color);
    text-transform: uppercase;
    transition: box-shadow .3s linear;
    display: inline-block;
	text-align: center;

	&:hover {
		box-shadow: 0 9px 31px -9px rgba(20, 104, 255, 0.61);
		background-image: linear-gradient(105deg, var(--deep-sky-blue-two), var(--deep-sky-blue));
		color: var(--white);
	}
}

@include media-breakpoint-down(xs)
{
    .btn-second {
        width: 100%;
        max-width: 320px;
    }
}

.btn-third {
	width: 141px;
	height: 48px;
    border-radius: 24px;
    border: 1px solid var(--blue-num2);
    font-size: 16px;
    font-weight: 500;
    line-height: 46px;
    letter-spacing: 1px;
    color: var(--blue-num4);
    transition: box-shadow .3s linear;
    display: inline-block;
	text-align: center;

	&:hover {
		box-shadow: 0 9px 31px -9px rgba(20, 104, 255, 0.61);
		background-image: linear-gradient(105deg, var(--deep-sky-blue-two), var(--deep-sky-blue));
		color: var(--white);
	}
}

@include media-breakpoint-down(xs)
{
    .btn-third {
        width: 100%;
        max-width: 320px;
    }
}

// Линия справа от заголовков
.title-line:before {
    content: "";
    width: 80px;
    height: 2px;
    background-color: var(--azure);
    position: absolute;
    left: 0;
    top: 30px;
}

@include media-breakpoint-down(lg)
{
    .title-line:before {
        display: none;
    }
}

// Стрелки слайдеров
.str-prev,
.str-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 80px;
    font-size: 0;
    transition: all .3s linear;

    &:before {
        width: 80px;
        height: 24px;
        display: inline-block;
        transition: all .3s linear;
        content: '';
    }
    &:hover:before {
        width: 40px;
    }
}
.str-prev {
    left: 0;
    text-align: left;

    &:before {
        background: url(img/str.prev.svg) no-repeat center left;
    }
}
.str-next {
    right: 0;
    text-align: right;

    &:before {
        background: url(img/str.next.svg) no-repeat center right;
    }
}
.str-disabled {
    opacity: .2;
    cursor: default;

    &:hover:before {
        width: 80px;
    }
}

@include media-breakpoint-down(md)
{
    .str-prev,
    .str-next {
        display: none;
    }
}