@font-face {
	font-family: 'MuseoSans';
	src: url('../fonts/MuseoSansCyrl_300.eot');
	src: local('O'), url('../fonts/MuseoSansCyrl_300.woff') format('woff'), url('../fonts/MuseoSansCyrl_300.ttf') format('truetype'), url('../fonts/MuseoSansCyrl_300.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'MuseoSans';
	src: url('../fonts/MuseoSansCyrl_500.eot');
	src: local('O'), url('../fonts/MuseoSansCyrl_500.woff') format('woff'), url('../fonts/MuseoSansCyrl_500.ttf') format('truetype'), url('../fonts/MuseoSansCyrl_500.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'MuseoSans';
	src: url('../fonts/MuseoSansCyrl_700.eot');
	src: local('O'), url('../fonts/MuseoSansCyrl_700.woff') format('woff'), url('../fonts/MuseoSansCyrl_700.ttf') format('truetype'), url('../fonts/MuseoSansCyrl_700.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'MuseoSans';
	src: url('../fonts/MuseoSansCyrl_900.eot');
	src: local('O'), url('../fonts/MuseoSansCyrl_900.woff') format('woff'), url('../fonts/MuseoSansCyrl_900.ttf') format('truetype'), url('../fonts/MuseoSansCyrl_900.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}