body {
    font-family: 'MuseoSans', sans-serif;
    font-size: 24px;
    line-height: 1.38;
	font-weight: 300;
    color: var(--main-text-color);
    background-color: var(--white);
}
a {
	color: var(--main-text-color);
	transition: color .3s linear;
}
a:hover {
	color: var(--azure);
	text-decoration: none;
}
h1, .h1,
h2, .h2 {
  font-size: 42px;
  font-weight: 700;
}
h3, .h3 {}

img {
    max-width: 100%;
    height: auto;
}