:root {
    --main-text-color: #071227;
	--blue-num1: #37517e;
	--blue-num2: #b8d6f2;
	--blue-num3: #546e9b;
	--blue-num4: #0b91ff;
	--blue-num5: #5a739f;

	--light-blue-num1: #f8fcff;
	--light-blue-num2: #dbeeff;
	--light-blue-num3: #f9fbfe;

	--azure: #008dff;
	--deep-sky-blue: #1468ff;
	--deep-sky-blue-two: #2da1ff;

    --gray-num1: #3a4354;
    --gray-num2: #dee5ee;
}

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1350px
);

$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1310px
);